.van-overlay{
  background-color:rgba(0,0,0,.4);
}
/* piker reset */
.van-picker__cancel{
  color:#ff6600;
  font-size: 16px;
}
.van-picker__confirm{
  color:#ff6600;
  font-size: 16px;
}
.van-picker__toolbar{
  height:49px;
  border-bottom:1px solid #eee;
}
.van-picker__frame{
  right:0;
  left: 0;
}
.van-picker-column__item{
  font-size:19px;
  transition: font .2s ease;
}
.van-picker-column__item--selected{
  font-size:23px;
}

/* Calendar */
.van-calendar__days{
  width:355px;
  margin:0 auto;
}
.van-calendar__day{
  height:44px;
  font-size:14px;
}
.van-calendar__bottom-info{
  font-size:9px;
  bottom:2px;
}
.van-calendar__day--start,.van-calendar__day--end{
  border-radius: 6px;
}
.van-calendar__weekdays{
  width: 355px;
}
/* .van-calendar__month-title{
  display: flex;
  align-items: center;
  height:28px;
  padding:0 15px;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  background:#F6F8FA;
} */
.van-calendar__footer .van-calendar__confirm{
  height: 44px;
  border:0;
  background:linear-gradient(90deg, #FF6600 0%, #FE9219 100%)!important;
} 